<!DOCTYPE html>
<html>
  <head>
    <title>ToyApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>The mini-twitter</h1>
   <p><strong>Navigation</strong></p>
  <ul>
  	 <li><a href="/microposts">Microposts</a></li>
  	 <li><a href="/users">Users</a></li>
  </ul>
    <%= yield %>
  </body>
</html>
